# Flutter build outputs
/build/
/build.log

# Flutter related (ya tienes parte)
/.dart_tool/
/.flutter-plugins
.flutter-plugins-dependencies
# Ya tienes alguna línea para build (descomentada):
build/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig

# Android
/android/.gradle/
/android/app/build/
/android/.idea/

# Web
/web/.dart_tool/
/web/build/

# Linux
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugins.cmake

# Windows
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugins.cmake

# macOS
/macos/Flutter/GeneratedPluginRegistrant.*