* text=auto 
*.dart text eol=lf 
*.png binary 
*.jpg binary 
*.jpeg binary 
*.gif binary 
*.ico binary 
*.ttf binary 
*.otf binary 
*.woff binary 
*.woff2 binary 
*.mp3 binary 
*.mp4 binary 
*.mov binary 
*.avi binary 
*.dll binary 
*.exe binary 
*.zip binary 
*.rar binary 
*.tar binary 
*.gz binary 
*.sqlite binary 
*.db binary 
*.bin binary 
*.dat binary 
*.apk binary 
*.aab binary 
*.ipa binary 
*.aar binary 
*.pom binary 
*.jar binary 
*.class binary 
*.dex binary 
*.so binary 
*.o binary 
*.obj binary 
*.lo binary 
*.la binary 
*.pyc binary 
*.lock binary 
